  <div class="top width_max"><div class="width_thousand">
    <dl><li><a href="" class="gay">登录</a>-<a href="" class="gay">注册</a></li><li class="myself"><a href="" class="gay">我的流量宝</a></li><li><a href="" class="gay">帮助中心</a></li></dl>
    <dt>2015年5月25日</dt>
  </div></div>
  <div class="header width_max"><div class="width_thousand">
    <div class="nav_user">
      <dl><a href="" title="QQ在线咨询" style="background:url(images/btn003.jpg);width:130px;height:44px;"></a><a href="" title="收费标准" style="background:url(images/btn002.jpg);width:50px;height:44px;" class="popbox-link"></a></dl>
      <dt><a href="" class="blue_01">任务管理</a>｜<a href="" class="blue_01">账户管理</a>｜<a href="" class="orange bold">帐户充值</a>｜<a href="" class="blue_01">常见问题</a>｜<a href="" class="blue_01">邀请返利</a>｜<a href="" class="blue_01">退出登录</a></dt></div>
    <div class="logo"><a href=""></a></div>
    <div class="kouhao denone">专业流量提供商</div>
  </div></div>
  
  <div class="location width_max"><div class="width_thousand">
  <span>任务IP总量：<font class="bold yellow">0/400,000</font></span>欢迎您，<font class="yellow fweight">2805810243@qq.com</font>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;帐户余额：<font class="yellow bold">208.65</font>点  <a href="" class="green bold">充点</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;会员等级：<font class="yellow bold">VIP3</font>
  </div></div>
